@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: Gotham;
  src: url(./assets/fonts/GothamMedium.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(./assets/fonts/GothamBook.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a::after {
  text-decoration: none;
}

.hud-circle {
  color: white;
  margin-right: 7px;
}

.header {
  width: 100vw;
  background-size: cover;
  height: 800px;
  background-image: url(./assets/images/header_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__HUD {
  width: 90vw;
  height: 12vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20vh;
  margin-left: 12vw;
}

.header__HUD-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.header__HUD-logo:hover {
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  padding-bottom: 2px;
  -webkit-transform: none;
          transform: none;
}

.header__HUD-about, .header__HUD-projects, .header__HUD-news, .header__HUD-contact {
  font-size: 14px;
  font-family: "GothamBook";
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  width: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__HUD-about:hover, .header__HUD-projects:hover, .header__HUD-news:hover, .header__HUD-contact:hover {
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  padding-bottom: 2px;
  padding-top: 5px;
}

.header__HUD-ICOframe {
  padding-right: 10vw;
  height: 12vh;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__HUD-ICOframe-fb, .header__HUD-ICOframe-tw, .header__HUD-ICOframe-inst {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-radius: 50px;
}

.header__HUD-ICOframe #fb:hover, .header__HUD-ICOframe #tw:hover, .header__HUD-ICOframe #inst:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-radius: 50px;
}

.header__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20vh;
}

.header__tit-maintit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
  font-size: 80px;
  font-family: Gotham;
  font-weight: 100;
  letter-spacing: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.275;
  text-align: center;
}

.header__tit-sectit {
  font-size: 18px;
  font-weight: 200;
  font-family: "GothamBook";
  color: white;
  text-transform: uppercase;
  line-height: 1.222;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  letter-spacing: 7px;
}

.header__lowpointer {
  height: 55px;
  width: 55px;
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lowpointer:hover {
  opacity: 70%;
}

.projects {
  width: 100vw;
  background-size: cover;
  height: 1633px;
  background-image: url(./assets/images/projects_bg.png);
}

.projects__container {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__container-upline {
  margin-top: 12vh;
  margin-bottom: 3vh;
}

.projects__container-tit {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 44px;
  text-align: center;
  margin-bottom: 22vh;
}

.projects__container-proj1 {
  margin-left: 5vw;
  width: 90vw;
  height: 50vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18vh;
}

.projects__container-proj1-pic {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects__container-proj1-text {
  width: 30vw;
  height: 50vh;
  margin-left: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container-proj1-text-1 {
  height: 3vh;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-weight: 100;
}

.projects__container-proj1-text-2 {
  height: 5vh;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 44px;
  margin-bottom: 4vh;
}

.projects__container-proj1-text-article {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 1.667;
  text-align: left;
  height: 5vh;
  text-transform: none;
  margin-bottom: 15vh;
}

.projects__container-proj1-text-address {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 1.667;
  text-align: left;
  height: 1vh;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  text-transform: none;
}

.projects__container-proj1 #text--moredetails {
  margin-bottom: 7vh;
  width: 190px;
  height: 50px;
  background: white;
  border: solid 1px #2c4058;
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.571;
  text-align: center;
}

.projects__container-proj1 #text--moredetails:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
}

.projects__container-proj1 #text--moredetails:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
  font-weight: bold;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: none;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}

.projects__container-proj2 {
  margin-left: 5vw;
  margin-top: 20vh;
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container-proj2-pic {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects__container-proj2-text {
  width: 35vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container-proj2-text-1 {
  height: 3vh;
  width: 30vw;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-weight: 100;
}

.projects__container-proj2-text-2 {
  height: 5vh;
  width: 45vw;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 44px;
  margin-bottom: 4vh;
}

.projects__container-proj2-text-article {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 1.667;
  text-align: left;
  height: 5vh;
  width: 30vw;
  margin-bottom: 15vh;
}

.projects__container-proj2-text-address {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 1.667;
  text-align: left;
  height: 1vh;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  text-transform: none;
}

.projects__container-proj2 #text--moredetails-2 {
  margin-bottom: 7vh;
  width: 190px;
  height: 50px;
  background: white;
  border: solid 1px #2c4058;
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.571;
  text-align: center;
}

.projects__container-proj2 #text--moredetails-2:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
}

.projects__container-proj2 #text--moredetails-2:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
  font-weight: bold;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: none;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}

.slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 0;
}

.news {
  height: 1035px;
  background-image: url(./assets/images/news_bg.png);
  width: 100vw;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__upline {
  margin-bottom: 3vh;
  min-width: 0;
}

.news__tit {
  margin-bottom: 10vh;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 44px;
  color: white;
}

.news__cards {
  width: 77vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.news__cards-card1, .news__cards-card2, .news__cards-card3 {
  width: 370px;
  height: 515px;
  background-color: white;
  min-width: 0;
  margin: 50px;
}

.news__cards-card1-pic img, .news__cards-card2-pic img, .news__cards-card3-pic img {
  width: 100%;
}

.news__cards-card1-tit, .news__cards-card2-tit, .news__cards-card3-tit {
  line-height: 4;
  margin-left: 1vw;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  min-width: 0;
}

.news__cards-card1-article, .news__cards-card2-article, .news__cards-card3-article {
  margin-left: 1vw;
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 1.667;
  text-align: left;
  color: #4b5562;
}

.news__cards-card1-author, .news__cards-card2-author, .news__cards-card3-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1vw;
  margin-top: 4vh;
}

.news__cards-card1-author-namedate, .news__cards-card2-author-namedate, .news__cards-card3-author-namedate {
  margin-left: 1vw;
}

.news__cards-card1-author-namedate-name, .news__cards-card2-author-namedate-name, .news__cards-card3-author-namedate-name {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 18px;
  font-weight: 100;
}

.news__cards-card1-author-namedate-date, .news__cards-card2-author-namedate-date, .news__cards-card3-author-namedate-date {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
}

.gallery {
  width: 100vw;
  background-size: cover;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid black 1px;
}

.gallery__upline {
  margin-bottom: 3vh;
}

.gallery__tit {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  text-align: center;
  font-size: 44px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10vh;
}

.gallery__photos {
  width: 1180px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 7vh;
}

.gallery__photos-left, .gallery__photos-right {
  height: 440px;
  width: 580px;
}

#gallery--see_more {
  width: 190px;
  height: 50px;
  background: white;
  border: solid 1px #2c4058;
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.571;
  text-align: center;
}

#gallery--see_more:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
}

#gallery--see_more:active {
  font-weight: bold;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: none;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}

.contact {
  width: 773px;
  height: 450px;
  background-color: white;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__upline {
  margin-bottom: 3vh;
}

.contact__tit {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  text-align: center;
  font-size: 44px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10vh;
}

.contact__lower {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
  height: 30vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__lower-credentials {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 16px;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 17vw;
  height: 25vh;
}

.contact__lower-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 30vh;
}

.contact__lower-form--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15vw;
  padding-top: 4vh;
}

.formfield {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-size: 18px;
  text-transform: none;
  width: 18vw;
  height: 45px;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.274) 1px;
}

.formfield::-webkit-input-placeholder {
  text-transform: none;
  color: rgba(0, 0, 0, 0.274);
}

.formfield:-ms-input-placeholder {
  text-transform: none;
  color: rgba(0, 0, 0, 0.274);
}

.formfield::-ms-input-placeholder {
  text-transform: none;
  color: rgba(0, 0, 0, 0.274);
}

.formfield::placeholder {
  text-transform: none;
  color: rgba(0, 0, 0, 0.274);
}

.formfield:focus {
  text-transform: none;
  padding-left: 5%;
  color: #2c4058;
  border-bottom: solid #2c4058 2px;
}

.formfield:focus::-webkit-input-placeholder {
  color: #2c40589d;
}

.formfield:focus:-ms-input-placeholder {
  color: #2c40589d;
}

.formfield:focus::-ms-input-placeholder {
  color: #2c40589d;
}

.formfield:focus::placeholder {
  color: #2c40589d;
}

#contact--submit {
  width: 190px;
  height: 50px;
  background: white;
  border: solid 1px #2c4058;
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.571;
  text-align: center;
  height: 50px;
  width: 140px;
}

#contact--submit:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e415700), to(#2e415727));
  background-image: linear-gradient(#2e415700, #2e415727);
}

#contact--submit:active {
  font-weight: bold;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: none;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}

.footer {
  width: 100vw;
  background-size: cover;
  height: 524px;
  background-image: url(./assets/images/footer_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  height: 45vh;
  width: 55vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container-menu {
  height: 5vh;
  width: 45vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container-menu-home, .footer__container-menu-projects, .footer__container-menu-news, .footer__container-menu-gallery, .footer__container-menu-about, .footer__container-menu-contact {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  font-family: GothamBook;
  font-size: 14px;
  font-weight: 100;
  color: white;
  letter-spacing: 0.4px;
}

.footer__container-menu-home:hover, .footer__container-menu-projects:hover, .footer__container-menu-news:hover, .footer__container-menu-gallery:hover, .footer__container-menu-about:hover, .footer__container-menu-contact:hover {
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.815);
  border-radius: 10px;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  padding-bottom: 2px;
}

.footer__container-logomedia {
  height: 10vh;
  width: 45vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container-logomedia-logo {
  width: 10vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer__container-logomedia-media {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container-logomedia-media #footer__fb:hover, .footer__container-logomedia-media #footer__tw:hover, .footer__container-logomedia-media #footer__inst:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-radius: 50px;
}

.footer__container-copyrightsignature {
  height: 12vh;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__container-copyrightsignature-copyright {
  font-size: 14px;
  font-family: "GothamBook";
  color: white;
  text-transform: uppercase;
  text-transform: none;
  height: 3vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px;
  margin-left: 0;
  letter-spacing: 0.4px;
}

.footer__container-copyrightsignature-pipe {
  height: 3vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 5px;
}

.footer__container-copyrightsignature-signature {
  height: 3vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: white;
  margin: 10px;
}

.footer__container-copyrightsignature-dummy {
  width: 15vw;
  height: 3vh;
}

.path2 {
  stroke-dasharray: 1120;
  /*   stroke-dashoffset: 800; */
  -webkit-animation: draw1 5s linear alternate;
          animation: draw1 5s linear alternate;
}

@-webkit-keyframes draw1 {
  from {
    stroke-dashoffset: 1120;
  }
  to {
    stroke-dashoffset: 2240;
  }
}

@keyframes draw1 {
  from {
    stroke-dashoffset: 1120;
  }
  to {
    stroke-dashoffset: 2240;
  }
}

#heart {
  color: white;
}

span {
  color: #7e5aff;
}

#lowpointer {
  color: white;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */